@font-face
{
	font-family: akashi;
	src: url('akashi.ttf');
}

@font-face
{
	font-family: nevis;
	src: url('nevis.ttf');
}

body{
	background: #EEEEEE;
	color: #000000;
	font: 16px/18px nevis, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0;
}

/*
 * Specific css
 */
#cge_Feedback textarea{
	width: 100%;
	max-width: 100%;
	min-width: 100%;

	height: 200px;
	min-height: 200px;
	max-height: 200px;
}

a.cge_projectListItem{
	background-color: #FFFFFF;
	background-position: center 0;
	padding: 36px 15px 0 15px;
	text-align: center;
	max-width: 100px;
	border-radius: 5px;
	color: #000000 !important;
	display: inline-block;
	
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

a.cge_projectListItem:hover{
	background-color: #a8dff4;
}

div.cge_tilesetContainerWrapper{
	border: 1px solid #CCCCCC;
	margin-top: 15px;
	background: url('transparentBackground.png') repeat;
	display: none;
}

div.cge_tilesetActive{
	display: block;
}

div.cge_tilesetContainer{
	position: relative;
}

div.cge_tilesetContainer div.cge_tilesetSelectionIndicator{
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	border: 2px solid #FFFFFF;

	z-index: 500;
}

div.cge_tilesetGrid{
	position: absolute;
	left: 0;
	top: 0;
}

div.cge_tilesetTile{
	display: block;
	float: left;
	border: 1px solid rgba(34, 34, 34, 0.0);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ie-box-sizing: border-box;
}

div.cge_tilesetWithGrid div.cge_tilesetTile{
	border: 1px solid rgba(34, 34, 34, 0.4)  !important;
}

span.cge_tilesetSelectTile{
	display: block;
	float: left;
}

span.cge_tilesetTile:hover{
	background: rgba(51, 181, 229, 0.5);
}

div.cge_tilesetSelectionHelper{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
}


span.cge_tilesetSelectTile span.cge_tilesetTileInfo{
	display: none;
}

span.cge_Log{
	background-color: #FFFFFF;
	
	padding: 2px 0;
	display: block;
	cursor: default;
	
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

span.cge_Log:hover{
	background-color: #EEEEEE;
}

span.cge_LogDebug{
	color: #99CC00;
}

span.cge_LogWarning{
	color: #FFBB33;
}

span.cge_LogError{
	color: #FF4444;
}

a.cge_ToggleButton{
	display: block !important;
	width: auto;
	border: 1px solid #CCCCCC;
	margin-top: 15px;
}

div.cge_ToggleContent{
	background: #EEEEEE;
	display: none;
	margin: 0 0 5px 0;
	border-top-width: 0;
	padding: 5px;
	border: 1px solid #CCCCCC;
}

/*
 * Navigation
 */
#cge_editorLoadingInidicatorWrapper{
	background: #FFFFFF;
	height: 0px;
	position: fixed;
	top: 42px;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;

	z-index: 200;

	display: none;
	
	overflow: hidden;
}

#cge_editorLoadingInidicatorWrapper div{
	background-color: #33B5E5;
	width: 10px; 
	height: 10px;

	position: absolute;

	left: 0;
	top: 0;

	z-index: 1000;
}

#topBarWrapper{
	background: #ffffff;
	height: 40px;
	border-bottom: 2px solid #CCCCCC;

	width: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
}

#topBarWrapperContent{
	padding: 0;
	margin: 0;
}

#topBarWrapper nav{
	position: relative;
}

#topBarNavigationEssentials{
	position: absolute;
	display: inline;
	right: 0;
	top: 0;
}

a.cge_essential_btn{
	display: inline-block;
	background-color: #FFFFFF;
	background-position: 0 4px !important;
	cursor: default;
	width: 32px;
	height: 40px;
	
	border-left: 1px solid #CCCCCC;
	
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

a.cge_essential_btn:hover, a.cge_essential_btn:active{
	background-color: #a8dff4;
	cursor: default;
}

#topBarWrapper nav ul{
	list-style: none outside none;
	padding: 0;
	margin: 0;
	position: relative;
}

#topBarWrapper nav ul li{
	margin: 0;
	float: left;
	position: relative;
}

#topBarWrapper nav ul li a{
	background-color: #FFFFFF;
	padding: 12px 15px;
	color: #000000;
	font-size: 14px;
	line-height: 39px;
	text-decoration: none;
	border-right: 1px solid #CCCCCC;

	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;

	cursor: default;
}

#topBarWrapper nav ul li a:hover, #topBarWrapper nav ul li a:active{
	background-color: #a8dff4;
	cursor: default;
}

ul.topBarSubNavigation{
	display: none;

	background: #ffffff;
	
	border: 1px solid #CCCCCC;
	border-bottom-width: 2px;
	border-top-width: 2px;

	z-index: 100;
	position: absolute !important;
	top: 40px;
	left: 0;
	
	z-index: 215;
}

#topBarWrapper nav ul li:hover ul.topBarSubNavigation{
	display: block;
}

ul.topBarSubNavigation li{
	float: none !important;
}

ul.topBarSubNavigation li a{
	border: 0;
	display: block;
	min-width: 150px;	
	padding: 0px 35px !important;
	background-position: 0 3px;
	cursor: default;
}

ul.topBarSubNavigation li a.checked{
	background: url('icon/checkmark.png') no-repeat;
}

ul.topBarSubNavigation li a:hover, ul.topBarSubNavigation li a:active{
	background-color: #a8dff4 !important;
}

#cge_editorWindowWrapper{
	margin-top: 42px;
	position: relative;
	overflow: auto;
}

/*
* Generic
*/
a:link, a:visited{
	color: #33B5E5;
	text-decoration: none;
}

a:hover, a:active{
	color: #0099CC;
}

/*
 * Window class
 */
div.cge_EditorWindow{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	position: absolute;
	border-radius: 3px;

	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
	
	z-index: 5;
}

div.cge_EditorWindow header{
	background: #EEEEEE;
	margin: 0;
	padding: 7.5px 5px;
	border-top: 5px solid #222;
	position: relative;
	cursor: move;
}

div.cge_EditorWindowContentWrapper{
	overflow: auto;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_red{
	border-top-color: #FF4444;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_blue{
	border-top-color: #33B5E5;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_purple{
	border-top-color: #AA66CC;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_green{
	border-top-color: #99CC00;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_yellow{
	border-top-color: #FFBB33;
}

div.cge_EditorWindow header h2{
	margin: 0;
	font-size: 18px;
	font-family: akashi !important;
	font-weight: normal;
	text-shadow: 1px 1px 0 #FFFFFF;
	line-height: 18px;
}

div.cge_EditorWindow div.cge_EditorWindowContent{
	margin-top: 10px;
	padding: 5px;
	scroll: auto;
}

div.cge_EditorWindowControlPane{
	position: absolute;
	right: 0;
	top: 0;
}

div.cge_WindowMaximized{
	width: 100%;
	height: 100%;
	border-radius: 0 !important;
	max-width: 100% !important;
	max-height: 100% !important;
	z-index: 100;
	scroll: auto;
}

div.cge_WindowMaximized header{
	cursor: default !important;
}

div.cge_windowSettings{
	display: none;
}

/*
 * Tooltip related
 */
.cge_Tooltip{
	background: #FFFFFF !important;
	color: #000000 !important;
	border: 2px solid #CCCCCC !important;

	font: 16px nevis, "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

/*
 * Input related
 */
textarea, input{
	font: 16px/18px nevis, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
}

textarea{
	display: block;
}

label.cge_editorLabel{
	font-size: 14px;
}

input.cge_btn{
	background-color: #DFDFDF;
	border: 0;
	font: 16px/18px nevis, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 15px 30px;
	cursor: default;
	
	transition: background-color 0.5s, color 0.5s;
	-moz-transition: background-color 0.5s, color 0.5s;
	-webkit-transition: background-color 0.5s, color 0.5s;
	-o-transition: background-color 0.5s, color 0.5s;
}

div.cge_editorFormRow{
	margin-bottom: 20px;
}

div.cge_inputTextWrapper{

}

input.cge_text{
	font: 16px/18px nevis, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 95%;

	padding: 12px 10px;
	border: 1px solid #CFCFCF;
	cursor: text;
	display: block;
}

select.cge_select{
	font: 16px/18px nevis, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 100%;
	padding: 5px;
	border: 1px solid #CFCFCF;
}

select.cge_select option{
	font: 16px/18px nevis, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input.cge_btn:hover{
	background-color: #a8dff4;
}

a.cge_btn{
	display: inline-block;
	background: #EEEEEE;
	cursor: default;
	
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

a.cge_btn:hover{
	background-color: #C6C6C6;
}

a.cge_btn_icon{
	width: 32px;
	height: 32px;
}

a.cge_btn_icon_text{
	background-position: 0 5px;
	height: 32px;
	padding: 5px 15px 5px 37px;
	line-height: 35px;
	font-size: 16px;
	background-color: #DFDFDF;
	color: #000000;
}

a.cge_new{
	background-image: url('icon/new.png');
	background-repeat: no-repeat;
}

a.cge_delete{
	background-image: url('icon/delete.png');
	background-repeat: no-repeat;
}

a.cge_folder{
	background-image: url('icon/folder.png');
	background-repeat: no-repeat;
}

a.cge_checkmark{
	background-image: url('icon/checkmark.png');
	background-repeat: no-repeat;
}

a.cge_plus{
	background-image: url('icon/plus.png');
	background-repeat: no-repeat;
}

a.cge_close{
	background-image: url('icon/close.png');
	background-repeat: no-repeat;
}

a.cge_maximize{
	background-image: url('icon/maximize.png');
	background-repeat: no-repeat;
}

a.cge_config{
	background-image: url('icon/config.png');
	background-repeat: no-repeat;
}

a.cge_lock{
	background-image: url('icon/lock.png');
	background-repeat: no-repeat;
}

a.cge_search{
	background-image: url('icon/search.png');
	background-repeat: no-repeat;
}

a.cge_error{
	background-image: url('icon/error.png');
	background-repeat: no-repeat;
}

a.cge_grid{
	background-image: url('icon/grid.png');
	background-repeat: no-repeat;
}

a.cge_edit{
	background-image: url('icon/edit.png');
	background-repeat: no-repeat;
}

a.cge_arrowUp{
	background-image: url('icon/arrowUp.png');
	background-repeat: no-repeat;
}

a.cge_arrowDown{
	background-image: url('icon/arrowDown.png');
	background-repeat: no-repeat;
}

span.cge_EditorData{
	display: none;
}