body{
	background: #EEEEEE;
	color: #000000;
	font: 12px/16px 'Helvetica', Arial, sans-seif;
	margin: 0;
}

/*
 * Specific css
 */
#cge_Feedback textarea{
	width: 100%;
	max-width: 100%;
	min-width: 100%;

	height: 200px;
	min-height: 200px;
	max-height: 200px;
}

/*
 * Navigation
 */
#topBarWrapper{
	background: #ffffff;
	height: 40px;
	border-bottom: 2px solid #CCCCCC;
}

#topBarWrapperContent{
	padding: 0;
	margin: 0;
}

#topBarWrapper nav ul{
	list-style: none outside none;
	padding: 0;
	margin: 0;
	position: relative;
}

#topBarWrapper nav ul li{
	margin: 0;
	float: left;
	position: relative;
}

#topBarWrapper nav ul li a{
	background-color: #FFFFFF;
	padding: 12px 15px;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	border-right: 1px solid #CCCCCC;

	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

#topBarWrapper nav ul li a:hover, #topBarWrapper nav ul li a:active{
	background-color: #a8dff4;
}

ul.topBarSubNavigation{
	display: none;

	background: #ffffff;
	
	border: 1px solid #CCCCCC;
	border-bottom-width: 2px;
	border-top-width: 2px;

	z-index: 100;
	position: absolute !important;
	top: 40px;
	left: 0;
}

#topBarWrapper nav ul li:hover ul.topBarSubNavigation{
	display: block;
}

ul.topBarSubNavigation li{
	float: none !important;
}

ul.topBarSubNavigation li a{
	border: 0;
	display: block;
	min-width: 150px;	
	padding: 0px 35px !important;
	background-position: 0 3px;
}

ul.topBarSubNavigation li a.checked{
	background: url('icon/checkmark.png') no-repeat;
}

ul.topBarSubNavigation li a:hover, ul.topBarSubNavigation li a:active{
	background-color: #a8dff4 !important;
}

#cge_editorWindowWrapper{
	position: relative;
	overflow: auto;
}

/*
* Generic
*/
a:link, a:visited{
	color: #33B5E5;
	text-decoration: none;
}

a:hover, a:active{
	color: #0099CC;
}

/*
 * Window class
 */
div.cge_EditorWindow{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	position: absolute;
	border-radius: 3px;
	
	z-index: 5;
}

div.cge_EditorWindow header{
	background: #EEEEEE;
	margin: 0;
	margin-bottom: 10px;
	padding: 7.5px 5px;
	border-top: 5px solid #222;
	position: relative;
	cursor: move;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_red{
	border-top-color: #FF4444;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_blue{
	border-top-color: #33B5E5;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_purple{
	border-top-color: #AA66CC;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_green{
	border-top-color: #99CC00;
}

div.cge_EditorWindow header.cge_EditorWindowHeader_yellow{
	border-top-color: #FFBB33;
}

div.cge_EditorWindow header h2{
	margin: 0;
	font-size: 18px;
	line-height: 18px;
}

div.cge_EditorWindow div.cge_EditorWindowContent{
	padding: 5px;
	scroll: auto;
}

div.cge_EditorWindowControlPane{
	position: absolute;
	right: 0;
	top: 0;
}

div.cge_WindowMaximized{
	width: 100%;
	height: 100%;
	max-width: 100% !important;
	max-height: 100% !important;
	z-index: 100;
	scroll: auto;
}

div.cge_WindowMaximized header{
	cursor: default !important;
}

div.cge_windowSettings{
	display: none;
}

/*
 * Input related
 */
textarea, input{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
}

textarea{
	display: block;
}

input.cge_btn{
	background-color: #DFDFDF;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 30px;
	cursor: default;
	
	transition: background-color 0.5s, color 0.5s;
	-moz-transition: background-color 0.5s, color 0.5s;
	-webkit-transition: background-color 0.5s, color 0.5s;
	-o-transition: background-color 0.5s, color 0.5s;
}

input.cge_btn:hover{
	background-color: #a8dff4;
}

a.cge_btn{
	display: inline-block;
	background: #EEEEEE;
	cursor: default;
	
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

a.cge_btn:hover{
	background-color: #C6C6C6;
}

a.cge_btn_icon{
	width: 32px;
	height: 32px;
}

a.cge_new{
	background-image: url('icon/new.png');
	background-repeat: no-repeat;
}

a.cge_delete{
	background-image: url('icon/delete.png');
	background-repeat: no-repeat;
}


a.cge_checkmark{
	background-image: url('icon/checkmark.png');
	background-repeat: no-repeat;
}

a.cge_close{
	background-image: url('icon/close.png');
	background-repeat: no-repeat;
}

a.cge_maximize{
	background-image: url('icon/maximize.png');
	background-repeat: no-repeat;
}